$red: #F00;
$white: #FFF;
$black: #222;
$gray: #666;
$light-gray: #ccc;
$super-light-gray: #ececec;

$light-translucent-black: rgba(0, 0, 0, 0.3);
$translucent-black: rgba(0, 0, 0, 0.7);
$semi-translucent-black: rgba(0, 0, 0, 0.9);
$translucent-red: rgba(255, 0, 0, 0.3)

