.project-detail-info-container {
  text-align: left;

  .project-detail-h1 {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background: $translucent-red;
      width: 110%;
      top: 100%;
      left: 0;
    }
  }

  .project-detail-p {
    margin-bottom: 40px;
  }
}

.project-detail-images-container {
  background: $semi-translucent-black;
  margin: 0 30px;
}
