.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  background-color: $super-light-gray;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  display: block;
  max-width: 500px;
  width: 100%;
  margin: 20px;
}

.marq-btn {
  height: 60px;
  color: $white;
  border: none;
  outline: none;
  line-height: 60px;

  &.btn-red {
    background: $red;
    padding: 0;

    &:hover {
      background: darken($red, 5%);
    }
  }
}

.form-left {
  width: 500px;
  .input {
    margin: 0 0 20px auto;

    &.marq-btn {
      margin-bottom: 0;
    }
  }
}

.contact-info {
  background-color: $super-light-gray;
  padding: 40px;
  display: inline-block;
  border-radius: 4px;
  width: 100%;

  .h5-contact-title {
    font-size: 36px;
    font-weight: 300;
  }

  .h6-contact-subtitle {
    font-size: 20px;
    font-weight: 300;
  }

}

.textarea {
  height: 250px;
  resize: none;
}

.contact-col {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}


@media (max-width: 1100px) {
  .contact-wrapper {
    .form-left {
      display: none;
    }
    .vertical-separator {
      display: none;
    }
  }
}
